* {
    margin: 0;
    padding: 0;
}

:root {
    --color-first: #161616;
    --color-black:#0000;
    --color-white:#FFFF;
    --color-second: #04959E;
    /* font family */
    --primary-font-family: 'Inter', sans-serif;
}

html, body {
    color: var(--color-first);
    background-color: var(--color-white);
    font-family: var(--primary-font-family);
}

.nav-menu {
    color: var(--color-black);
}

.nav-list {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    list-style: none;
    gap: 72px;
    padding: 32px 0;
    margin-bottom: 3px;
}

.nav-link { 
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.nav-link:visited {
    color: var(--color-black);
}

.nav-item {
    color: #000;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    gap: 72px;
}

.main-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 88px;
}

.content-wrapper {
    overflow: hidden;
 }

.main-content {
    width: 856px;
    padding: 0px;
    margin: 0 auto;
}

.content-title {
    color: #000;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: 65px;
    margin-bottom: 40px;
}

.content-text {
    color: inherit;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 24px;
}

.text {
    color: var(--color-second);
    font-weight: 500;
}

.content {
    color: inherit;
    margin-bottom: 50px;
}

.content-list {
    padding-left: 20px;
}

.content-item {
    font-size: 18px;
    line-height: 27px;
}

.learn {
    text-align: center;
    margin-bottom: 88px;
}

.learn-more-button {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-second);
    border: 0px;
    padding: 10px 24px;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: var(--color-first);
}

.footer {
    margin: 0 auto;
    width: 856px;
    padding: 16px 0px;
    text-align: center;
}

.footer-info {
    color: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}